@import "shared";

.card-wrapper {
  margin: 10px;
  padding: 10px;
  filter: drop-shadow(0 0 15px #111);

  &:nth-child(even) {
    .card {
      clip-path: polygon(100% 0, 0 10%, 0 90%, 100% 100%);
    }
  }

  &:nth-child(odd) {
    .card {
      clip-path: polygon(100% 10%, 0 0, 0 100%, 100% 90%);
    }
  }
}

.card {
  @media screen and (max-width: 1300px) {
    padding: 2.5rem;
  }

  padding: 5rem;
  background-color: $primary;
  color: $secondary;
  transition: all 150ms linear;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  .title {
    margin-bottom: 10px;
  }

  .links {
    padding: 3px;
  }

  p {
    padding: 20px;
    line-height: 1.5;
  }

  h2 {
    font-weight: 900;
  }

  h4 {
    padding: 5px;
    font-weight: bold;
  }

  a {
    color: #808080;
    text-decoration: none;
    font-weight: normal;

    &:visited {
      color: #a0a0a0;
      text-decoration: none;
      font-weight: normal;
    }
  }
}
