.card {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 1px var(--primay);
    padding: 10px;
    background-color: var(--primay);
    color: var(--secondary);
    transition: all 150ms linear;
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
}

.card .title {
    margin-bottom: 10px;
}

.card .links {
    padding: 3px;
}

.card p {
    padding: 20px;
    line-height: 1.5;
}

.card h2 {
    font-weight: 900;
}

.card h4 {
    padding: 5px;
    font-weight: bold;
}

.card a {
    color: #808080;
    text-decoration: none;
    font-weight: normal;
}

.card a:visited {
    color: #A0A0A0;
    text-decoration: none;
    font-weight: normal;
}
