---
interface Props {
  class?: string;
  spacer?: boolean;
}

const { class: className = "", spacer = true } = Astro.props;
---

{spacer && <div class="s" />}

<div class={`section ${className}`}>
  <h1>
    <slot name="title" />
  </h1>
  <h2>
    <slot name="subtitle" />
  </h2>
  <div class="content">
    <slot />
  </div>

  <div class="images">
    <slot name="images" />
  </div>
</div>

<style lang="scss">
  @use "../styles/util";

  .s {
    padding-bottom: 10vh;
  }

  .section {
    padding: 10% 5%;
    background-color: util.$color-darker;
    border-radius: 10px;
    text-align: center;
  }

  h1 {
    padding-bottom: 1rem;
  }

  h2 {
    padding-bottom: 0.8rem;
  }

  .section {
    :global(p) {
      padding-bottom: 0.55rem;
      font-size: 1rem;

      &:last-child {
        padding: 0;
      }
    }
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    gap: 1rem;

    :global(img),
    :global(svg) {
      height: 5rem;
      width: auto;
      // max-width: 5rem;
    }
  }
</style>
