@use "sass:math";

:root {
  --color: #1f1e33;
  --color-darker: #0f0e17;
  --text: #eee;
  ---text-darker: #ddd;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 10vh #{math.div(100 - 75, 2)}vw;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    font-size: 30pt;
  }
}
