@import '$lib/colors.scss';

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $charleston-green;
		text-align: center;
	}

	h1 {
		font-size: 30pt;
	}
}
