.name {
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-color: var(--primay);
  margin: auto;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 5px 10px var(--primay);
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
  padding: 10px;
}

.social {
  width: 20%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

  .social img {
      width: 50px;
      padding: 10px;
  }

.about-me {
  padding: 20px;
}

.projects {
  padding: 3rem;
  text-align: center;
}

  .projects h1 {
    font-weight: 900;
  }

.cards {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 630px) {
  .cards {
    grid-template-columns: auto;
  }
}
