---
import "../styles/app.scss";

interface Props {
  footer?: boolean;
}

const { footer = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Nathan Hare, Developer, Web Developer, Full Stack Developer"
    />
    <meta name="author" content="Nathan Hare" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <slot name="head" />
  </head>
  <body>
    <main>
      <slot />
    </main>

    {
      footer && (
        <footer>
          &copy; Nathan Hare 2022
          <a href="/">Home</a>
          <span class="cw">
            Rights to all Logo go to their respective copyright holders.
          </span>
        </footer>
      )
    }

    <style lang="scss">
      @use "../styles/util";

      footer {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: util.$text;
        background-color: util.$color-darker;
        gap: 1rem;

        a {
          color: util.$text;
          text-decoration: none;
          font-weight: bold;
        }

        .cw {
          color: util.$text-darker;
        }
      }
    </style>
    <script is:inline src="/app.js"></script>
  </body>
</html>
